altgraph==0.17
asgiref==3.2.3
braintree==3.59.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.0.4
django-payments==0.13.0
future==0.18.2
idna==2.9
nltk==3.4.5
pefile==2019.4.18
Pillow==7.0.0
psycopg2==2.8.4
pycparser==2.20
PyInstaller==3.6
PyJWT==1.7.1
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
razorpay==1.2.0
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
stripe==2.43.0
suds-jurko==0.6
urllib3==1.25.8
xmltodict==0.12.0
